<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Oauth-passport-securing-app</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    </head>
    <body>
        <div>
          <%=user.image%>
          <%=user.name%>    
        </div>
        
    </body>
</html>